# Ignore numerical solution
0*
forces.txt
grid.txt
grids
iterationCounts.txt

# Ignore logging files
stdout.txt
stderr.txt
*.log
*.out
*logamgx
*shipyard.envlist

# Ignore post-processing output
postprocessing

# Ignore folders with figures
figures

# Ignore fail runs
*fail
