#!/usr/bin/env bash

# Add petibm-utilities binary executables to PATH
PETIBM_UTILS_DIR=
export PATH="$PETIBM_UTILS_DIR/bin":$PATH
# Add mpi executables to PATH
MPI_DIR=
export PATH="$MPI_DIR/bin":$PATH
# Add binary executables of the present repository to PATH
AZURE_SNAKE=
AZURE_SNAKE=$( cd $AZURE_SNAKE ; pwd -P )
export PATH="$AZURE_SNAKE/bin":$PATH
